@font-face {
    font-family: ABeeZee;
    src: url(ABeeZee-Regular.ttf);
}

body {
    margin: 0;
    font-family: ABeeZee, "Comic Sans MS", fantasy;
}

.buttons-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
}

button {
    font-family: inherit;
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
}

.buttons-header {
    background-color: black;
    color: white;

    font-size: 2em;
    padding: 1em;
}

.buttons-grid > button {
    flex: 0 0 calc(25% - 1em);
    margin: 0.5em;
}

.button1 {
    background-color: #017187;
    color: white;
    border: 0;
    padding: 20px 40px;
    font-size: 20px;
    line-height: 140%;
    border-radius: 8px;

}

.button1-alt {
    background-color: white;
    color: #017187;
    border: 2px solid #017187;
}

.button1:hover {
    background-color: #67AAB7;
}

.button1-alt:hover {
    border: 2px solid #67AAB7;
    background-color: white;
    color: #67AAB7;
}

.button1:disabled {
    background-color: #E9E9E9;
    color: #A9A9A9;
    border: 2px solid #CACACA;
}

.button1-alt:disabled {
    background-color: white;
    color: #CACACA;
    border: 2px solid #CACACA;
}


.button2 {
    width: 152px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 100px;
    padding: 13px 25px 15px;
    color: white;
    background-color: #F43F5E;
    border: 1px solid;
}

.button2:hover {
    background-color: #9F1239;

}


.button2-alt {
    background-color: #0EA5E9;
}

.button2-alt:hover {
    background-color: #075985;
}

.button2:disabled {
    background-color: #E5E7EB;
    color: #9CA3AF;
    border-color: #E5E7EB;

}

.button3 {
    width: 152px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 100px;
    padding: 13px 25px 15px;
    color: #F43F5E;
    background-color: white;
    border: 2px solid;
}

.button3:hover {
    background-color: white;
    outline: 4px solid #FDA4AF;
    color: #9F1239;
    border-color: #9F1239;

}


.button3-alt {
    background-color: white;
    color: #0EA5E9;
}

.button3-alt:hover {
    background-color: white;
    outline: 4px solid #7DD3FC;
    color: #075985;
    border-color: #075985;
}

.button3:disabled {
    background-color: white;
    color: #E5E7EB;
    border-color: #E5E7EB;
    outline: none;

}


